body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

/*
    Styling for the container ID, sets top margin to 50px
    and the left/right margins to 100px.
*/
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

/* 
    Assign-container class styling.
*/
.assign-container {
    padding: 10px;
}

/* 
    Assign-content class styling.
*/
.assign-content {
    width: 600px;
    margin: 3% auto 0;
    
    transition: 0.3s;
}


/* 
    Assign-results-text class styling.
*/
.assign-results-text {
    text-align: center;
    font-size: 28px;
}


.app-header {
    font-size: 28px;
    text-align: center;
}


#results-container {
    width: 600px;
    margin: 3% auto 0;
}


.full-width {
    width: 100%;
}


.form {
    display: inline-grid;
    grid-template-columns: auto;
}

/* 
    Adds padding of 20px.
*/
.form-field {
    padding: 20px;
}




/* 
    Styling for icon-mode
*/
#icon-mode:hover {
    cursor: pointer;
}

/* 
    Icon-text styling to add left padding.
*/
#icon-text {
    padding-left: 10px;
}


.pull-right {
    float: right;
}