<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio</title>

    <link rel="stylesheet" type="text/css" href="site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap">
  


</head>
<header>



    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="views/about.html">About</a></li>
      <li><a href="views/resume.html">Resume</a></li>
      <li><a href="views/Project.html">Project</a></li>
      <li><a class="active" href="#home">Diagram</a></li>
      <li><a href="#news">Testing</a></li>
      <li><a href="#contact">Bucklet List</a></li>
      <li><a href="#about">Links</a></li>
    </ul>
    
    </body>
    </html>
</header>